<!--Footer-->
<footer class="footer footer-default">
    <div class="container">
        <nav class="float-right">
            <ul>
                <li><a href="https://flatlanders-store.com/">Inicio</a></li>
                <li><a href="https://flatlanders-store.com/presentation">Acerca de Nosotros</a></li>
                <li><a href="https://flatlanders-store.com/blog">Blog</a></li>
                <li><a href="https://flatlanders-store.com/licence">Licencias</a></li>
            </ul>
        </nav>
    </div>
</footer>
