<div ng-controller="Products as prods">
    <div class="wrapper-gems">
        <div ng-repeat="gem in prods.best" >
            <div class="col-md-3">
                <div class="card card-rised" ng-click="prods.go(gem._id)">
                    <img class="card-img-top mx-auto" ng-src="{{gem.images[0]}}" style="width: 70%; height: auto;">
                    <div class="card-body">
                        <h3 class="card-subtitule mb-2 text-muted">{{gem.name}}</h3>
                        <h4><i class="material-icons icon icon-success">attach_money</i> {{gem.price}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>